* {
    font-family: Arial;
}

section {
    display: flex;
    justify-content:center;
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

textarea {
    font-family: Hanzi-Pinyin-Font;
    font-size: 8rem;
    resize: none;
    height: 11rem;
    width: 100%;
    white-space: nowrap;
    line-height: 10rem;
    overflow-y: clip;
}


