* {
    color: #e1effa;
}

body {
    background: #222222;
}

section {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

span {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    inset: 0;
    width: max-content !important;
    height: fit-content !important;
}

#input, span {
    font-family: Hanzi-Pinyin-Font !important;
    font-size: 8rem;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
}


#input {
    display: inline-flex;
    position: relative;
    align-items: center;
    height: 11rem;
    width: 100%;
    white-space: nowrap;
    overflow-y: clip;
    background: #7777;
    border-color: transparent;
    border-radius: 1rem;
    border-width: 3px;
    margin-bottom: 10px !important;
}
    #input:focus-visible, #input:focus-within {
        border-color: #004e8c;
        outline: none;
    }

    #input:empty:before {
        content: attr(placeholder);
        opacity: 0.6;
        height: 100%;
        position: absolute;
        display: inline-grid;
        align-items: center;
        inset: 0;
        padding-left: 10px;
        padding-right: 10px;
    }


p#translation {
    width: 100%;
    color: #004e8c;
}

@media (max-width: 599px) {
    h1 {
        font-size: 30pt;
    }

    h2 {
        font-size: 17pt;
    }

    #input, span {
        font-size: 10vw;
        height: 15vw;
        line-height: normal;
        width: calc(100% - 60px);
    }

    p#translation {
        font-size: 8vw;
        line-height: normal;
        height: 8vw;
        margin: 0;
        width: calc(100% - 80px);
    }
}

@media (max-height: 500px) {
    * {
        margin: 0;
    }

    h1, h2 {
        display: none;
    }
    #input, span {
        height: 50%;
        line-height: normal;
        text-size-adjust: auto;
        overflow: hidden;
    }

}